@import url('https://fonts.googleapis.com/css?family=Oswald|Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=News+Cycle');

nav{
  width: 450px;
  margin: 0 auto;
}

nav ul{
margin-left: -40px;
}

nav ul li{
  list-style:none;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

nav ul li a{
  text-decoration: none;
  color: rgb(247, 247, 125);
  font-size: 20px;
}

nav ul li a:hover{
    color: white;
}

h1{
  text-align: center;
  color: rgb(52, 223, 177);
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  margin-top: -5px;
}

#grid1{
  display: grid;
  grid-template-areas: "col1 col2 col3 col4";
  grid-template-rows: 1fr;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: -10px;
}

#col1{
  grid-area: col1;
  height: 400px;
  background-image: url('../images/Claudia.jpg');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

#col2{
  grid-area: col2;
  height: 400px;
  background-image: url('../images/Mel.jpg');
  background-size:300px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
}

#col3{
  grid-area: col3;
  height: 400px;
  background-image: url('../images/SportySpice.jpg');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}

#col4{
  grid-area: col4;
  height: 400px;
  background-image: url('../images/Neens.jpg');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}

#grid2{
  display: grid;
  grid-template-areas: "col5";
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  text-align: center;
  margin-top:5px;
}

#col5{
  grid-area: col5;
  height: 200px;
  background-size: 200px;
  background-position: center;
}


#grid3{
  display: grid;
  grid-template-areas: "col6 col7";
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
  margin-top: -5px;
  margin-bottom: 10px;
}

#col6{
  grid-area:col6;
  background-color: rgb(52, 223, 177);
  height: 175px;
}
#col7{
  grid-area:col7;
  background-color: rgb(52, 223, 177);
  height: 175px;
}

header{
  width:65%;
  margin: 0 auto;
  text-align: center;
}

main{
  width:90%;
  margin: 0 auto;
  margin-bottom: 60px;
}

footer{
  width:100%;
  margin-top: 20px;
  margin: 0 auto;
  height: 175px;
  text-align: center;
}

h3{
  color: rgb(247, 247, 125);
}

h2{
  color: rgb(220, 31, 38);
}

p{
  font-family: 'News Cycle', sans-serif;
  color: white;
}

body{
  background-color: black;
}
